src/main/resources/GraduateAdmission.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="GraduateAdmission" targetNamespace="urn:com.example.switchyard:soap-binding-jaxb-transform:1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:com.example.switchyard:soap-binding-jaxb-transform:1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:com.example.switchyard:soap-binding-jaxb-transform:1.0" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="urn:com.example.switchyard:soap-binding-jaxb-transform:1.0">
  <xs:complexType name="admissionRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element name="score" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="admissionResponse">
    <xs:sequence>
      <xs:element name="eligible" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="processAdmission" type="processAdmission"/>
  <xs:complexType name="processAdmission">
    <xs:sequence>
      <xs:element minOccurs="0" name="admissionRequest" type="admissionRequest"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="processAdmissionResponse" type="processAdmissionResponse"/>
  <xs:complexType name="processAdmissionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="admissionResponse" type="admissionResponse"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="processAdmissionResponse">
    <wsdl:part name="parameters" element="tns:processAdmissionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="processAdmission">
    <wsdl:part name="parameters" element="tns:processAdmission">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="GraduateAdmissionPortType">
    <wsdl:operation name="processAdmission">
      <wsdl:input name="processAdmission" message="tns:processAdmission">
    </wsdl:input>
      <wsdl:output name="processAdmissionResponse" message="tns:processAdmissionResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GraduateAdmissionSoapBinding" type="tns:GraduateAdmissionPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="processAdmission">
      <soap:operation soapAction="processAdmission" style="document"/>
      <wsdl:input name="processAdmission">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="processAdmissionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GraduateAdmission">
    <wsdl:port name="GraduateAdmissionPort" binding="tns:GraduateAdmissionSoapBinding">
      <soap:address location="http://localhost:8080/soap-binding-jaxb-transform/GraduateAdmission"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
